<!DOCTYPE html>
<html lang="en" ng-app='cloneit'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>
  <body>

    <!-- main controller / container -->
    <div class="container-fluid" ng-controller="mainController">


      <!-- Nav Bar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <p>CloneIt</p>
            </a>
          </div>
          <!-- form beginning -->
          <form class="navbar-form navbar-left" role="search">
            <!-- search -->
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>
            <!-- sort by -->
            <div class="form-group">
              <select name="sort" ng-model="sort" ng-init="post.votes">
                <option value="votes" selected>Votes</option>
                <option value="title">Title</option>
                <option value="date">Dates</option>
              </select>
            </div>
          </form>
          <!-- form end -->
          <ul class="nav navbar-nav navbar-right">
            <!-- new post with logic to show the new post-->
            <li><a ng-href="" ng-click="showNew=true"><i class="glyphicon glyphicon-pencil"></i> Add New Post</a></li>
          </ul>
        </div>
      </nav>

    <!-- New Post -->
    <form class="form-horizontal" ng-show="showNew">
      <fieldset>
        <!-- form name -->
        <legend>New Post</legend> 
        <!-- title / text input -->
        <div class="row form-group">
          <label class="col-md-2 control-label" for="title">Title: </label>
          <div class="col-md-8">
            <input id="title" name="title" type="text" placeholder="Post Title" class="form-control" ng-model="post.title" required/>
          </div>
        </div>
        <!-- Author / text input -->
        <div class="row form-group">
          <label class="col-md-2 control-label" for="author">Author: </label>
          <div class="col-md-8">
            <input id="author" name="author" type="text" placeholder="Post Author" class="form-control" ng-model="post.author" required/>
          </div>
        </div>
        <!-- image / text input -->
        <div class="row form-group">
          <label class="col-md-2 control-label" for="image">Image Url: </label>
          <div class="col-md-8">
            <input id="image" name="image" type="text" placeholder="Post Image URL" class="form-control" ng-model="post.imageUrl" required/>
          </div>
        </div>
        <!-- description / textarea -->
        <div class="row form-group">
          <label class="col-md-2 control-label" for="description">Description: </label>
          <div class="col-md-8">
            <textarea id="description" name="description" rows="5" placeholder="Post Description" class="form-control" ng-model="post.description" required></textarea>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-md-2 control-label" for="submit">Submit Post: </label>
          <div class="col-md-3">
            <button id="submit" name="submit" class="btn btn-primary" ng-click="addNew(); showNew=false;">Submit</button>
            <button id="cancel" name="cancel" class="btn btn-danger" ng-click="showNew=false">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>

      
      <!-- repeating through posts, with search and sort -->
      <div class="row" ng-repeat="post in posts | filter:search | orderBy:sort">
        <!-- image of post -->
        <div class="col-md-3">
          <img class="full" ng-src="{{ post.image }}">
        </div>
        <!-- title, author -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h1>{{ post.title }} | {{ post.votes }} | <i class="{{ plus }}" ng-click="vote('plus', post.id)"></i><i class="{{ minus }}" ng-click="vote('minus', post.id)"></i></h1>
              <h3 class="pull-right">Author: {{post.author}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- article -->
              <p>{{post.description}}</p>
              <!-- date, comments, and adding one -->
              <h5><i class="{{ calendar }}"> {{ post.date | relativeDate }} | </i> 
              <a ng-href="" ng-click="showAllComments=true"><i class="{{ commentIcon }}"> {{ post.comments.length }} <ng-pluralize count="post.comments.length" when="{'1': 'comment', 'other': 'comments'}"></ng-pluralize> |</i></a> 
              <a ng-href="" ng-click="showNewComment=true"><i class="{{ addComment }}"></i>Add Comment</h5></a>
            </div>
          </div>
          <div ng-show="showAllComments">
            <div class="row" ng-repeat="comment in post.comments">
              <h6>{{ comment.author }}</h6>
              <p>{{ comment.comment }}</p>  
            </div>
            <button ng-click="showAllComments=false">Hide</button>
          </div>


          <!-- add comment -->
          <form class="form-horizontal" ng-show="showNewComment">
            <fieldset>
              <!-- new comment -->
              <legend>New Comment</legend>
              <!-- author / text -->
              <div class="form-group">
                <label class="col-md-2 control-label" for="author">Author: </label>
                <div class="col-md-8">
                  <input id="author" name="author" type="text" placeholder="Author" class="form-control" ng-model="comment.author" required/>
                </div>
              </div>
              <!-- Description/ Textarea -->
              <div class="form-group">
                <label class="col-md-2 control-label" for="comment">Comment: </label>
                <div class="col-md-8">
                  <textarea id="comment" name="comment" rows="3" placeholder="Comment Body" class="form-control" ng-model="comment.comment" required></textarea>
                </div>
              </div>
              <!-- comment's buttons -->
              <div class="row form-group">
                <label class="col-md-2 control-label" for="submit">Submit Comment: </label>
                <div class="col-md-3">
                  <button id="submit" name="submit" class="btn btn-primary pull-right" ng-click="newComment(comment, post.id); showNewComment=false; comment={};">Submit</button>
                  <button id="cancel" name="cancel" class="btn btn-danger" ng-click="showNewComment=false">Cancel</button>
                </div>
              </div>
            </fieldset>
          </form>

        <!-- end of row for info -->
        </div> 

      <!-- end of repeat -->
      </div>

        <!-- controller end -->
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <!-- Relative Date Brought in -->
    <script src="js/angular-relative-date.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
